
.mat-list-item {
    height: 30px !important;
}

.mat-list-item-content {
    padding:0px !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-right: 16px !important;
}

.mat-tooltip {
  white-space: pre-line;
  height: auto;
}

.mat-tooltip-panel {
  white-space: pre-line;
}

.mat-list-item-content {
  padding: 0px;
}

.mat-expansion-panel-header {
  padding: 1px !important;
  font-size: 12px !important;
}
.mat-expansion-panel-body {
  padding: 0px !important;
}

.mat-radio-label-content {
  padding-right: 8px !important;
}


