<div class="main-content">
  <div class="container-fluid">
    <br/>
    <div class="row">
      <div>
        <mat-chip-list>
          <mat-chip color="primary" [routerLink]="['/site/dashboard']"><mat-icon>dashboard</mat-icon> Dashboard</mat-chip>
          <mat-chip color="primary" [routerLink]="['/site/patients']"><mat-icon>group</mat-icon> Patients</mat-chip>
          <mat-chip color="primary" routerLink="/site/patient/{{patID}}" ><mat-icon>assignment_ind</mat-icon> {{ getRefNumber(patient?.pat_id, patient?.prefix) }} </mat-chip>
          <mat-chip color="primary" routerLink="/site/visits/{{patID}}" ><mat-icon>pets</mat-icon> Visits </mat-chip>
          <mat-chip color="primary" selected><mat-icon>file_copy</mat-icon>  {{pageTitle}} </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-3" style="border: 1px solid gray;">
        <!-- <h4>Visits</h4> -->
        <!-- Tree  -->
       <mat-accordion>
         <mat-expansion-panel hideToggle  *ngFor="let visit of visits; let i = index;" (opened)="selectVisit(visit)">
           <mat-expansion-panel-header>
             <mat-icon [ngClass]="{'text-success': visit.isDone, 'text-warning': visit.dov && !visit.isDone }">folder</mat-icon>
              {{visit.description}}
           </mat-expansion-panel-header>
           <mat-action-list dense *ngIf="i == 0 || visits[i - 1].isDone">
              <a mat-list-item *ngIf="visit.code === 'V1'" (click)="showIC()" >
                  <mat-icon mat-list-icon class="text-success">file_copy</mat-icon>
                  <h4 mat-line>Informed Consent</h4>
                </a>
                <a mat-list-item *ngIf="visit.code === 'V1'" (click)="showIncEx()" >
                  <mat-icon mat-list-icon [ngClass]="{'text-success': isExclusionDone}">file_copy</mat-icon>
                  <h4 mat-line>Inclusion / Exclusion Criteria</h4>
                </a>

                <a mat-list-item *ngIf="visit.code === 'V1' && isExclusionMet" (click)="showDemography()" >
                  <mat-icon mat-list-icon class="text-success">file_copy</mat-icon>
                  <h4 mat-line>Demography</h4>
                </a>
                <a mat-list-item *ngIf="visit.code === 'V1' && isExclusionMet" routerLink="/site/visits/medicalhistory/{{patID}}">
                  <mat-icon mat-list-icon  [ngClass]="{'text-success': visit.medicalHistory}">file_copy</mat-icon>
                  <h4 mat-line>Medical History</h4>
                </a>
                <span *ngIf="isExclusionDone && isExclusionMet && !visitSkipped">
                    <a mat-list-item *ngFor="let form of visit.forms" (click)="openForm(form, visit)" >
                        <mat-icon mat-list-icon [ngClass]="{'text-success': form.isDone}">file_copy</mat-icon>
                        <h4 mat-line>{{form.name}}</h4>
                      </a>
                </span>
                <a mat-list-item *ngIf="isExclusionMet && !visitSkipped" routerLink="/site/visits/fileupload/{{patID}}/{{visit._id}}" >
                  <mat-icon mat-list-icon [ngClass]="{'text-success': visit.fileDone}" >file_copy</mat-icon>
                  <h4 mat-line>File Upload</h4>
                </a>

           </mat-action-list>
         </mat-expansion-panel>
         <mat-expansion-panel hideToggle (opened)="showAE()">
            <mat-expansion-panel-header>
                <mat-icon >folder</mat-icon>
                Adverse Events
              </mat-expansion-panel-header>
         </mat-expansion-panel>
         <mat-expansion-panel hideToggle (opened)="showConco()">
            <mat-expansion-panel-header>
                <mat-icon >folder</mat-icon>
                Concomitant Medication
              </mat-expansion-panel-header>
         </mat-expansion-panel>
       </mat-accordion>
        <!-- End Tree -->
      </div>
      <div class="col-md-9" style="border: 1px solid gray;">
            <div *ngIf="!visitDate && selectedVisit && !visitSkipped">
              <mat-card>
              <form #fVisit="ngForm">
                <mat-card-content>
                  <legend>Patient present on the visit?</legend>
                      <mat-radio-group name="isSkipped"  ngModel (change)="changeVisitSkip($event.value)">
                        <mat-radio-button value="0">Yes</mat-radio-button>
                        <mat-radio-button value="1">No</mat-radio-button>
                      </mat-radio-group>
                  <mat-form-field *ngIf="showVisitSkipComment">
                    <input matInput name="comment" ngModel placeholder="Comment" required>
                  </mat-form-field>
                  <mat-form-field *ngIf="showVisitSkipDate">
                      <input matInput name="visitDate" [matDatepicker]="picker" ngModel placeholder="Date of Visit" [max]="getToday()"
                        (click)="picker.open()"  required>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </mat-card-content>
                  <mat-card-actions>
                      <button *ngIf="showVisitSkipComment || showVisitSkipDate" mat-raised-button color="primary" type="submit" (click)="saveVisit(fVisit)">Save</button>
                  </mat-card-actions>

              </form>
            </mat-card>
            </div>
            <div *ngIf="visitDate && selectedVisit && !showAETable">
              <mat-card>
                  <h6 class="card-subtitle mb-2 text-muted">Date of Visit: {{visitDate | date}}</h6>
              </mat-card>
            </div>
            <div *ngIf="selectedVisit && visitSkipped">
              <mat-card>
                <mat-card-title>Patient skipped the visit due to  {{visitSkipped_comment}}</mat-card-title>
              </mat-card>
            </div>
        <!-- the eCRF -->
        <div *ngIf="theForm">
          <div class="card">
              <form>
                  <div class="card-header card-header-rose card-header-icon">
                    <!-- <div class="card-text">
                        <h4 class="card-title">{{theForm.name}}</h4>
                      </div> -->
                    <div class="card-icon">
                      <mat-icon>library_books</mat-icon>
                    </div>
                    <h4 class="card-title">{{theForm.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted" *ngIf="visitDate">Date of Visit: {{visitDate | date}}</h6>

                  </div>
                  <div class="card-body" *ngIf="fields" >
                      <div *ngIf="crfFormDone">
                        <table class="table table-bordered">
                          <thead></thead>
                          <tbody>
                            <tr *ngFor="let field of fields" [ngClass]="{'hidden': hideField(field)}">
                              <td>{{field.label}}

                              </td><td>
                                <span *ngIf="field.type === 'date'">{{theCRFValue[field.name] | date}}</span>

                                <span *ngIf="field.type !== 'date'">
                                  <span *ngIf="field.hasOption">
                                    {{getValue(field)}}
                                  </span>
                                  <span *ngIf="!field.hasOption">
                                      {{theCRFValue[field.name]}}
                                  </span>
                                  </span>
                               <b> {{field.unit}}</b>
                              </td>
                              <td><button mat-icon-button (click)="openDialog(field)"><mat-icon [ngClass]="{'text-warning': field.changes?.length}">edit</mat-icon></button></td>
                              <td><button mat-icon-button><mat-icon>question_answer</mat-icon></button></td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr class="bg-primary text-white"><td colspan="2">Data submitted by <b>{{theCRFValue.created_by}}</b>  at <em>{{theCRFValue.created_at | date:'medium'}}</em> from ip address: {{theCRFValue.created_on}}</td></tr>
                          </tfoot>
                        </table>
                      </div>
                      <div *ngIf="!crfFormDone">
                        <dynamic-form [fields]="fields" (submit)="saveCrForm($event)" >
                        </dynamic-form>
                      </div>
                    </div>
                    </form>
          </div>
          </div>
        <!-- end The eCRF-->
        <!-- Informed Consent-->
        <div *ngIf="showInformedConsent">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <mat-icon>library_books</mat-icon>
                      </div>
                      <h4 class="card-title">Informed Consent</h4>
                      <h6 class="card-subtitle mb-2 text-muted" *ngIf="visitDate">Date of Visit: {{visitDate | date}}</h6>
                </div>
                <div class="card-body">
                  	<table class="table table-bordered">
                        <tr><th>EC approved ICF signed</th><td>{{patient.icf === true ? 'Yes' : 'No'}}</td></tr>
                        <tr><th>Date ICF Signed </th><td>{{patient.icf_date | date}}</td></tr>
                      </table>
                </div>
            </div>

        </div>
        <!-- Inclusion Exclusion-->
        <div *ngIf="showInclusionExclusion">
          <div class="card">
              <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                      <mat-icon>library_books</mat-icon>
                    </div>
                    <h4 class="card-title">Inclusion / Exclusion</h4>
                    <h6 class="card-subtitle mb-2 text-muted" *ngIf="visitDate">Date of Visit: {{visitDate | date}}</h6>
              </div>
              <div class="card-body">
                  <div class="col-md-12" *ngIf="!isExclusionDone">
                      <form [formGroup]="frmExclusion">
                        <div class="row">
                          <input name="dov" formControlName="dov" [value]="visitDate" type="hidden">
                          <div class="col-md-4">
                            <legend>Patient met inclusion/exclusion criteria</legend>
                            <mat-radio-group formControlName="exclusion">
                              <mat-radio-button value="1">Yes</mat-radio-button>
                              <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <div class="col-md-4 mr-auto" *ngIf="exclusion.value === '0'">
                            <legend>Give Reason</legend>
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="reason" formControlName="reason" type="text" required />
                              <app-field-error-display [displayError]="" errorMsg=""></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <hr>
                        <div>
                          <button mat-raised-button color="primary" (click)="saveExclusion()">Save</button>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-12" *ngIf="isExclusionDone">
                      <table class="table table-bordered">
                        <tr><th>Subject meets inclusion/exclusion criteria?</th><td>{{crfExclusion.exclusion === '1' || crfExclusion.exclusion === 1 ? 'Yes' : 'No'}}</td></tr>
                        <tr *ngIf="!isExclusionMet"><th>Reason</th>{{crfExclusion.reason}}</tr>
                      </table>
                    </div>
              </div>
            </div>




        </div>
        <!-- End Inclusion Excluson-->
        <!-- Demography -->
          <div *ngIf="showDemographicPage">
              <div class="card">
                  <div class="card-header card-header-rose card-header-icon">
                      <div class="card-icon">
                          <mat-icon>library_books</mat-icon>
                        </div>
                        <h4 class="card-title">Demography</h4>
                        <h6 class="card-subtitle mb-2 text-muted" *ngIf="visitDate">Date of Visit: {{visitDate | date}}</h6>
                  </div>
                  <div class="card-body">
                      <table class="table table-bordered">
                          <tr><th>Gender</th><td>{{patient.gender}}</td></tr>
                        </table>
                  </div>
              </div>
          </div>
        <!-- End Demofraphy -->
        <div id="aeTable" *ngIf="showAETable">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon"><mat-icon>library_books</mat-icon></div>
              <h4 class="card-title">Adverse Event</h4>

            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped responsive">
                    <thead class="text-primary">
                      <tr><th>#</th><th>Reported Date</th><th>Adverse Event</th><th>Start Date</th><th>Ongoing / End Date</th><th>Outcome</th>
                        <th>Severity/Grade</th><th>Serious?</th><th>AE Treatment</th><th>Procedure / Drug Relatedness</th>
                        <th>IOL Attribution</th><th>Action Taken</th>
                        <!-- <th>PI / PI Initial Date</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ae of aeList; let i = index">
                        <td>{{ae.aeSeq}}
                          <button *ngIf="ae.AESER === '1'" mat-raised-button color="primary" >SAE</button>
                        </td>
                        <td>{{ae.VISDAT | date}}</td>
                        <td>{{ ae.eventName === 'Other'?  ae.otherEventName : ae.eventName}}</td>
                        <td>{{ae.AESTDATE | date}}</td>
                        <td>{{ae.AEONGO? 'Ongoing' : ae.AEENDAT | date}}</td>
                        <td>{{ae.AEOUT}}</td>
                        <td>{{ae.AESEV}}</td>
                        <td>{{ae.AESER}}</td>
                        <td>{{ae.AEACNOTH}}</td>
                        <td>{{ae.AEREL}}</td>

                        <td>{{ae.AEDEVREL}}</td>
                        <td>{{ae.AEACN}}</td>
                        <!-- <td>{{ae.submitted_at | date}}</td> -->
                      </tr>
                    </tbody>
                    <tfoot ><tr><td colspan="7"><button (click)="addAE()" mat-button color="primary">Add a new Log line</button></td></tr></tfoot>
                  </table>
                  <mat-divider></mat-divider>
                  <h3>SAE</h3>
          <table class="table table-striped">
            <thead class="text-primary">
                <tr><th>#</th><th>Reported Date</th><th>SAE Event</th><th>SAE Classification</th>
                  <th>Start Date</th><th>End Date</th>
                  <th>Severity/Grade</th> <th>IOL Attribution</th>
                  <th>Outcome</th>
                  <!-- <th>Serious?</th><th>AE Treatment</th>
                  <th>Action Taken</th><th>Drug/Device Attribution</th> -->
                  <!-- <th>PI / PI Initial Date</th> -->
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let ae of onlySAEList; let i = index" >

                    <td>{{ae.aeSeq}}

                    </td>
                    <td>{{ae.VISDAT | date}}</td>
                    <td>{{ ae.eventName === 'Other'?  ae.otherEventName : ae.eventName}}</td>
                    <td>{{ae.SAECLASS}}</td>
                    <td>{{ae.AESTDATE | date}}</td>
                    <td>{{ae.AEONGO === '1'? 'Ongoing' : ae.AEENDAT | date}}</td>

                    <td>{{ae.AESEV}}</td>

                    <td>{{ae.AEDEVREL}}</td>

                    <td>{{ae.AEOUT}}</td>
                    <!-- <td>{{ae.submitted_at | date}}</td> -->
                  </tr>
                </tbody>
          </table>
            </div>
          </div>
        </div>
        <div id="aeForm" *ngIf="showAEForm">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon"><mat-icon>library_books</mat-icon></div>
              <h4 class="card-title">Adverse Event - Line</h4>

            </div>
            <div class="card-body">

          <form [formGroup]="frmAEForm">
            <div class="row">
              <div class="col">
                <mat-form-field >
                  <input matInput #dob [matDatepicker]="picker" formControlName="VISDAT" placeholder="Event Reported Date" [max]="getToday()"
                    (click)="picker.open()"  required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <app-field-error-display [displayError]="isFieldValid(frmAEForm, 'VISDAT')" errorMsg="Reported date is required"></app-field-error-display>
                </mat-form-field>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
                <div class="col">
                  <mat-form-field>
                    <textarea matInput placeholder="Brief description of the event" formControlName="AETERM"
                     #brief maxlength="2000" mat-autosize="true" cdkAutosizeMinRows="4"></textarea>
                    <mat-hint align="end">{{brief.value.length}} / 2000</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col"></div>
                  </div>
            <div class="row">
                <div class="col">
                  <mat-form-field>
                    <mat-label>Which event did occur?</mat-label>
                    <mat-select formControlName="eventName" (selectionChange)="eventNameChange($event.value)">
                      <mat-option>--</mat-option>
                      <mat-option value="Corneal edema (60 days post-op)">Corneal edema (60 days post-op)</mat-option>
                      <mat-option value="Endophthalmitis">Endophthalmitis</mat-option>
                      <mat-option value="Retinal detachment">Retinal detachment</mat-option>
                      <mat-option value="Elevated IOP">Elevated IOP</mat-option>
                      <mat-option value="Secondary surgical intervention">Secondary surgical intervention</mat-option>
                      <mat-option value="Hyphema">Hyphema</mat-option>
                      <mat-option value="Uveitis (60 days post-op)">Uveitis (60 days post-op)</mat-option>
                      <mat-option value="Hypopyon">Hypopyon</mat-option>
                      <mat-option value="Macular edema (60 days post-op)">Macular edema (60 days post-op)</mat-option>
                      <mat-option value="Pupillary block">Pupillary block</mat-option>
                      <mat-option value="Zonular rupture">Zonular rupture</mat-option>
                      <mat-option value="Poasterior capsular tear/rupture">Poasterior capsular tear/rupture</mat-option>
                      <mat-option value="Optic damage">Optic damage</mat-option>
                      <mat-option value="Haptic damage">Haptic damage</mat-option>
                      <mat-option value="Haptic sticking">Haptic sticking</mat-option>
                      <mat-option value="Injector malfunction">Injector malfunction</mat-option>
                      <mat-option value="Lens surface reflection">Lens surface reflection</mat-option>
                      <mat-option value="Lens discoloration">Lens discoloration / pseudo-coloration</mat-option>
                      <mat-option value="Lens luxation">Lens luxation</mat-option>
                      <mat-option value="Lens decentration">Lens decentration</mat-option>
                      <mat-option value="Lens dislocation">Lens dislocation</mat-option>
                      <mat-option value="Lens opacification">Lens opacification (incl. glistening)</mat-option>
                      <mat-option value="Lens rotation">Lens rotation</mat-option>
                      <mat-option value="Other">Other</mat-option>
                    </mat-select>

                  </mat-form-field>
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field *ngIf="showEventNameOther">
                      <input matInput formControlName="otherEventName"  placeholder="Please specify other event" >
                    </mat-form-field>

                  </div>
                  <div class="col"></div>
                </div>
            <div class="row">
              <div class="col">
                  <mat-form-field class="example-full-width">
                      <input matInput  [matDatepicker]="pickerOnset" formControlName="AESTDATE" placeholder="Estimated start date" [max]="getToday()"
                        (click)="pickerOnset.open()"  required>
                      <mat-datepicker-toggle matSuffix [for]="pickerOnset"></mat-datepicker-toggle>
                      <mat-datepicker #pickerOnset></mat-datepicker>
                      <app-field-error-display [displayError]="isFieldValid(frmAEForm, 'AESTDATE')" errorMsg="Start date is required"></app-field-error-display>
                    </mat-form-field>
              </div>
              <div class="col"></div>
              </div>
              <div class="row">
                  <div class="col">
                      <label id="isongoing-label">is Event Ongoing? </label> <br>
                      <mat-radio-group aria-labelledby="isongoing-label"
                        formControlName="AEONGO" required name="isongoing"
                        (change)="ongoingChange($event.value)">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                      </mat-radio-group>

                  </div>
                  <div class="col"></div>
                </div>
                <div class="row">
                  <div class="col">
                      <mat-form-field  *ngIf="showEndDate">
                          <input matInput #dob [matDatepicker]="pickerEnd" formControlName="AEENDAT" placeholder="End date" [max]="getToday()"
                            (click)="pickerEnd.open()"  >
                          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                          <mat-datepicker #pickerEnd></mat-datepicker>
                          <app-field-error-display [displayError]="isFieldValid(frmAEForm, 'AEENDAT')" errorMsg="End date is required"></app-field-error-display>
                        </mat-form-field>
                  </div>
                  <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col">
                       <mat-form-field>
                           <mat-label id="resolution-label">Outcome </mat-label>
                           <mat-select aria-labelledby="resolution-label" formControlName="AEOUT" required>
                             <mat-option>--</mat-option>
                             <mat-option value="0">Fatal</mat-option>
                             <mat-option value="1">Not recovered/not resolved</mat-option>
                             <mat-option value="2">Recovered w/sequelae</mat-option>
                             <mat-option value="3">Recovered w/o sequelae</mat-option>
                             <mat-option value="4">Recovering/Resolving</mat-option>

                           </mat-select>
                           <app-field-error-display [displayError]="isFieldValid(frmAEForm, 'AEOUT')" errorMsg="Outcome is required"></app-field-error-display>
                       </mat-form-field>
                    </div>
                    <div class="col"></div>
                 </div>
                 <div class="row">
                    <div class="col">
                        <mat-form-field>
                          <mat-label>Severity/Grade</mat-label>
                          <mat-select formControlName="AESEV">
                            <mat-option>--</mat-option>
                            <mat-option value="1">Mild</mat-option>
                            <mat-option value="2">Moderate</mat-option>
                            <mat-option value="3">Severe</mat-option>
                            <mat-option value="4">Life Threatening</mat-option>
                            <mat-option value="5">Death (Fatal)</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col"></div>
                    </div>
            <div class="row">
              <div class="col">
                  <label id="isEventOccur-label">Is this serious adverse event (SAE) ? </label> <br/>
                  <mat-radio-group aria-labelledby="isEventOccur-label"
                    formControlName="AESER" required (change)="isSAEChange($event.value)">
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="0">No</mat-radio-button>
                  </mat-radio-group>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                      <mat-label>AE Treatment</mat-label>
                      <mat-select formControlName="AEACNOTH">
                        <mat-option>--</mat-option>
                        <mat-option value="0">None</mat-option>
                        <mat-option value="1">Medication(s)</mat-option>
                        <mat-option value="2">Non-medication TX</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col">

                        <mat-form-field>
                            <mat-label id="relationshipIOL-label">Procedure / Drug Relatedness</mat-label>
                            <mat-select aria-labelledby="relationshipIOL-label" formControlName="AEREL" required>
                              <mat-option>--</mat-option>
                              <mat-option value="0">Definite</mat-option>
                              <mat-option value="1">Probable</mat-option>
                              <mat-option value="2">Possible</mat-option>
                              <mat-option value="3">Unlikely</mat-option>
                              <mat-option value="4">Unrelated</mat-option>


                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col"></div>
                  </div>

                    <div class="row">
                        <div class="col">

                            <mat-form-field>
                                <mat-label id="relationshipIOL-label">IOL Attribution</mat-label>
                                <mat-select aria-labelledby="relationshipIOL-label" formControlName="AEDEVREL" required>
                                  <mat-option>--</mat-option>
                                  <mat-option value="0">Definite</mat-option>
                                  <mat-option value="1">Probable</mat-option>
                                  <mat-option value="2">Possible</mat-option>
                                  <mat-option value="3">Unlikely</mat-option>
                                  <mat-option value="4">Unrelated</mat-option>
                                  <mat-option value="5">Not Applicable</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <mat-form-field>
                                <mat-label id="actionTaken-label">Action Taken </mat-label>
                                <mat-select aria-labelledby="actionTaken-label" formControlName="AEACN" required>
                                  <mat-option>--</mat-option>
                                  <mat-option value="0">None</mat-option>
                                  <mat-option value="1">IOL explanted</mat-option>
                                  <mat-option value="2">Secondary surgical intervention</mat-option>
                                  <mat-option value="3">Medication given</mat-option>
                                  <!-- <mat-option value="1">Interrupted</mat-option>
                                  <mat-option value="2">Discontinued</mat-option>
                                  <mat-option value="3">Dose reduced</mat-option>
                                  <mat-option value="4">Dose increased</mat-option> -->
                                  <mat-option value="4">Not Applicable</mat-option>

                                </mat-select>
                            </mat-form-field>
                           </div>
                           <div class="col"></div>
                        </div>
            <div *ngIf="showAEField">
                <div class="row">
                    <div class="col">
                      <legend >Does the event fulfill any of the following criteria? <mat-icon color="primary"
                        matTooltipClass="mat-tooltip"
                        matTooltip="Select 1: Fatal (resulted in death) \n
                        2: A life-threatening occurrence \n
                        3: Requires inpatient hospitalization or prolongation of existing hospitalization \n
                        4:
                        " >info</mat-icon> </legend>
                        <mat-form-field>
                          <mat-label>SAE Classification</mat-label>
                          <mat-select formControlName="SAECLASS" >
                            <mat-option>--</mat-option>
                            <mat-option value="1">Fatal (resulted in death)</mat-option>
                            <mat-option value="2">A life-threatening occurrence</mat-option>
                            <mat-option value="3">Requires inpatient hospitalization or prolongation of existing hospitalization</mat-option>
                            <mat-option value="4">Results in persistent or significant disability/incapacity</mat-option>
                            <mat-option value="5">Results in congenital anomaly/birth defect</mat-option>
                            <mat-option value="6">A significant medical incident that, based upon appropriate medical judgment, may jeopardize the subject and require medical or surgical intervention to prevent one of the outcomes listed above.</mat-option>


                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col"></div>
                  </div>
                </div>

            <!-- <div class="row">
              <div class="col">
                  <label id="isEyeAffected-label">Did the event affect the eye? </label> <br/>
                  <mat-radio-group aria-labelledby="isEyeAffected-label" formControlName="isEyeAffected" required>
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="0">No</mat-radio-button>
                  </mat-radio-group>
              </div>

            </div>


            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>When did the event occur?</mat-label>
                  <mat-select formControlName="eventOccurOn">
                    <mat-option>--</mat-option>
                    <mat-option value="Before IOL implantation">Before IOL implantation</mat-option>
                    <mat-option value="During IOL implantation">During IOL implantation</mat-option>
                    <mat-option value="After IOL implantation">After IOL implantation</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col"></div>
            </div>

            <div class="row">
              <div class="col">

                  <mat-form-field>
                      <mat-label id="relationshipIOL-label">Causality  to the IOL? </mat-label>
                      <mat-select aria-labelledby="relationshipIOL-label" formControlName="causalityIOL" required>
                        <mat-option>--</mat-option>
                        <mat-option value="Definitely">Definitely</mat-option>
                        <mat-option value="Likely">Likely</mat-option>
                        <mat-option value="Unlikely">Unlikely</mat-option>
                        <mat-option value="Not related">Not related</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">

                  <mat-form-field>
                      <mat-label id="relationshipSurgical-label">Causality to Surgery? </mat-label>
                      <mat-select aria-labelledby="relationshipSurgical-label" formControlName="causalitySurgical" required>
                        <mat-option>--</mat-option>
                        <mat-option value="Definitely">Definitely</mat-option>
                        <mat-option value="Likely">Likely</mat-option>
                        <mat-option value="Unlikely">Unlikely</mat-option>
                        <mat-option value="Not related">Not related</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                  <label id="isDeviceRelated-label">IOL or Injector Malfunction? </label> <br>
                  <mat-radio-group aria-labelledby="isDeviceRelated-label"
                    formControlName="isDeviceMalfunction" required (change)="iolMalfunctionChange($event.value)">
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="0">No</mat-radio-button>
                  </mat-radio-group>
              </div>
              <div class="col"></div>
            </div>
            <div class="row" *ngIf="showMalfunction">
              <div class="col">
                  <mat-form-field>
                      <mat-label id="relationshipDevice-label">which? </mat-label>
                      <mat-select aria-labelledby="relationshipDevice-label"  (selectionChange)="onMalfunctionChange($event.value)"
                      formControlName="deviceMalfunction" required>
                        <mat-option>--</mat-option>
                        <mat-option value="Optic damage">Optic damage</mat-option>
                        <mat-option value="Haptic damage">Haptic damage</mat-option>
                        <mat-option value="Haptic sticking">Haptic sticking</mat-option>
                        <mat-option value="Injector malfunction">Injector malfunction</mat-option>
                        <mat-option value="Lens surface reflection">Lens surface reflection</mat-option>
                        <mat-option value="Lens discoloration">Lens discoloration / pseudo-coloration</mat-option>
                        <mat-option value="Lens luxation">Lens luxation</mat-option>
                        <mat-option value="Lens decentration">Lens decentration</mat-option>
                        <mat-option value="Lens dislocation">Lens dislocation</mat-option>
                        <mat-option value="Lens opacification">Lens opacification (incl. glistening)</mat-option>
                        <mat-option value="Lens rotation">Lens rotation</mat-option>
                        <mat-option value="Other">Other</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col"></div>
            </div>
            <div class="row" *ngIf="showOtherMalfunction">
              <div class="col">
                <mat-form-field>
                  <input matInput type="text" formControlName="otherMalfunction" placeholder="Please mention" />
                </mat-form-field>
              </div>
              <div class="col"></div>
            </div> -->



            <div class="row">
              <div class="col">
                <button type="reset" mat-raised-button color="default"  (click)="showAE()" >Cancel</button>
              </div>
              <div class="col text-right">
                <button mat-raised-button color="primary"  (click)="saveAE()">Save</button>
              </div>
            </div>

          </form>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

