<div class="main-content">
<!-- <div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
<div class="row grid-container">
  <div class="col">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sites</mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <table class="table responsive">
          <thead>
            <tr><th>Code</th><th class="text-left">Name</th><th class="text-left">Contact Person</th></tr>
          </thead>
          <tbody>
            <tr *ngFor="let site of sites; let i = index;" (click)="onSelectSite(site)">
              <td>{{site.code}}</td>
              <td class="text-left">{{site.name}}</td>
              <td class="text-left">{{site.contact_person}}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Something
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Body
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
