table {
  width: 100%;
}
.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

td.mat-column-patient_id {
  // width:  100px;
  min-width: 100px;
}

th.mat-column-status, td.mat-column-status {
  padding-left: 8px;
}

