<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="showList">
      <div class="col-md-10 offset-md-1">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">place</i>
            </div>
            <h4 class="card-title ">Sites <span class="pull-right">
                <a [routerLink]="['/admin/site/new']" class="btn btn-primary " mat-raised-button type="button">
                  <i class="material-icons">add_box</i>Add</a></span></h4>
            
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table mat-table class="table table-hover" [dataSource]="dataSource">
                  <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef class="text-rose">Site Code</th>
                      <td mat-cell *matCellDef="let site">{{site.code}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-rose">Site Name</th>
                        <td mat-cell *matCellDef="let site">{{site.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="address">
                          <th mat-header-cell *matHeaderCellDef class="text-rose">Address</th>
                          <td mat-cell *matCellDef="let site"> <span *ngIf='site.contact_person'>{{site.contact_person}}, <br></span>
                            <span *ngIf='site.department'>{{site.department}}, <br></span>{{site.address}}</td>
                        </ng-container>
                        <ng-container matColumnDef="user">
                            <th mat-header-cell *matHeaderCellDef class="text-rose">Users</th>
                            <td mat-cell *matCellDef="let site"> <span *ngFor='let user of site.users'>{{user.first_name}} {{user.last_name}},<br/></span></td>
                          </ng-container> 
                          <ng-container matColumnDef="study">
                              <th mat-header-cell *matHeaderCellDef class="text-rose">Studies</th>
                              <td mat-cell *matCellDef="let site"> <span *ngFor='let study of site.studies'>
                                  {{study.name}},
                                </span></td>
                            </ng-container>  
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef class="text-right text-rose">Action</th>
                                <td mat-cell class="td-actions text-right" *matCellDef="let site">
                                  <a routerLink="edit/{{site._id}}" mat-raised-button class="btn btn-icon btn-danger" >
                                    <i class="material-icons">edit</i>
                                  </a>
                                </td>
                                </ng-container>  
                <tr mat-header-row *matHeaderRowDef="displayedColumn" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!--New-->
    <div class="row" *ngIf="showNew">
      <div class="col-sm-12 mb-auto">
        <div class="card">
          <form [formGroup]="frmSite">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">place</i>
              </div>
              <h4 class="card-title"> <span *ngIf="!isEdit">New </span>Site</h4>
            </div>
            <div class="card-body">
              <br>
              <div class="row">
                <div class="col-md-5 mr-auto">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Site Name" formControlName="name" required />
                    <app-field-error-display></app-field-error-display>
                  </mat-form-field>
                </div>
                <div class="col-md-5 mr-auto">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Site Code" formControlName="code" required />
                    <app-field-error-display></app-field-error-display>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-5 mr-auto">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contact Person" formControlName="contact_person"  />
                        <app-field-error-display></app-field-error-display>
                      </mat-form-field>
                    </div>
                    <div class="col-md-5 mr-auto">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Department" formControlName="department"  />
                        <app-field-error-display></app-field-error-display>
                      </mat-form-field>
                    </div>
              </div>
              <div class="row">
                <div class="col-md-11 mr-auto">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Address" formControlName="address" required></textarea>
                    <app-field-error-display></app-field-error-display>
                  </mat-form-field>
                </div>
              </div>
              <div class="category form-category">* Required fields</div>
            </div>
            <div class="card-footer">
                <div class="mr-auto"><a routerLink="/admin/sites" class="btn btn-default">Cancel</a></div>
              <button mat-raised-button type="submit" class="btn btn-fill btn-rose mat-raised-button" (click)="onSubmit()">Submit</button>

            </div>
          </form>
        </div>
      </div>
    </div>
    <!--./New-->

  </div>
</div>
