<div class="main-content">
    <div class="container-fluid">
      <div class="row" *ngIf="showList">
        <div class="col-md-10 offset-md-1">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">school</i>
              </div>
              <h4 class="card-title ">Studies <span class="pull-right">
                  <a [routerLink]="['/admin/study/new']" class="btn btn-primary " mat-raised-button type="button" >
                    <i class="material-icons">add_box</i>Add</a></span></h4>
              
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table mat-table class="table table-hover" [dataSource]="dataSource">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-rose">Study Name</th>
                        <td mat-cell *matCellDef="let study">{{study.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="description">
                          <th mat-header-cell *matHeaderCellDef class="text-rose">Description</th>
                          <td mat-cell *matCellDef="let study">{{study.description}} </td>
                        </ng-container>
                        <ng-container matColumnDef="site">
                            <th mat-header-cell *matHeaderCellDef class="text-rose">Sites</th>
                            <td mat-cell *matCellDef="let study"><span *ngFor='let site of study.sites'>
                                {{site.name}},<br></span></td>
                          </ng-container> 
                          <ng-container matColumnDef="actions">
                              <th mat-header-cell *matHeaderCellDef class="text-right text-rose">Action</th>
                              <td mat-cell class="td-actions text-right" *matCellDef="let study">
                                <a routerLink="edit/{{study._id}}" mat-raised-button class="btn btn-icon btn-danger" >
                                  <i class="material-icons">edit</i>
                                </a>
                              </td>
                              </ng-container>  
                    <tr mat-header-row *matHeaderRowDef="displayedColumn" ></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--New-->
      <div class="row" *ngIf="showNew">
          <div class="col-sm-12 mb-auto">
            <div class="card">
              <form [formGroup]="frmStudy">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
                    <i class="material-icons">school</i>
                  </div>
                  <h4 class="card-title">New Study</h4>
                </div>
                <div class="card-body">
                  <br>
                  <div class="row">
                    <div class="col-md-11 mr-auto">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Study Name" formControlName="name" required />
                        <app-field-error-display></app-field-error-display>
                      </mat-form-field>
                    </div>

                  </div>
                  <div class="row">
                      <div class="col-md-11 mr-auto">
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Description" formControlName="description"  ></textarea>
                            <app-field-error-display></app-field-error-display>
                          </mat-form-field>
                        </div>
                  </div>
                  <div class="row">
                    <div class="col-md-11 mr-auto">
                      <mat-form-field class="example-full-width">
                        <mat-select multiple placeholder="Sites (select multiple)" formControlName="sites"  >
                          <mat-option *ngFor="let site of sites" [value]="site">
                            {{site.name | titlecase}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="category form-category">* Required fields</div>
                </div>
                <div class="card-footer">
                    <div class="mr-auto"><a routerLink="/admin/studies" class="btn btn-default">Cancel</a></div>
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose mat-raised-button" (click)="onSave()">Submit</button>

                </div>
              </form>
            </div>
          </div>
        </div>
      <!--./New-->

    </div>
  </div>

