<div class="main-content">
    <div class="container-fluid">
      <div class="row" *ngIf='showList'>
        <div class="col-md-10 offset-md-1">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">person</i>
              </div>
              <h4 class="card-title ">Users  <span class="pull-right">
                  <a [routerLink]="['/admin/user/new']" class="btn btn-primary " mat-raised-button type="button" >
                    <i class="material-icons">add_box</i>Add</a></span></h4>
             
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table mat-table class="table table-hover" [dataSource]="dataSource">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-rose"> Full Name </th>
                        <td mat-cell *matCellDef="let user"> {{user.first_name}} {{user.last_name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="role">
                          <th mat-header-cell *matHeaderCellDef class="text-rose"> Roles </th>
                          <td mat-cell *matCellDef="let user"> {{user.role.name |  uppercase }} </td>
                        </ng-container>
                        <ng-container matColumnDef="site">
                            <th mat-header-cell *matHeaderCellDef class="text-rose"> Assigned Site </th>
                            <td mat-cell *matCellDef="let user">  <span *ngIf='user.site'>{{user.site.name}}, <br></span> </td>
                          </ng-container>
                      <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef class="text-right text-rose">Action</th>
                          <td mat-cell class="td-actions text-right" *matCellDef="let user">
                            <a routerLink="edit/{{user._id}}" mat-raised-button class="btn btn-icon btn-danger" >
                              <i class="material-icons">edit</i>
                            </a>
                          </td>
                          </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumn" ></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf='showNew'>
        <div class="col-md-10 mb-auto">
          <div class="card">
            <form [formGroup]="frmUser">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                      <i class="material-icons">person</i>
                    </div>
                    <h4 class="card-title "><span *ngIf="!isEdit">New</span> User</h4>
                  </div>
                  <div class="card-body">
                    <br/>
                    <div class="row">
                      <div class="col-md-11">
                          <mat-form-field class="example-full-width" >
                              <input type="email" matInput placeholder="Email Address" formControlName="email"  required />
                              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                              </mat-error>
                              <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                              </mat-error>
                            </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5 mr-auto">
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(frmUser, 'first_name')">
                              <input type="text" matInput placeholder="First Name" formControlName="first_name" required />
                              <app-field-error-display [displayError]="isFieldValid(frmUser, 'first_name')" errorMsg="First name is required."></app-field-error-display>
                            </mat-form-field>
                      </div>
                      <div class="col-md-5 mr-auto">
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(frmUser, 'last_name')">
                              <input type="text" matInput placeholder="Last Name" formControlName="last_name" required />
                              <app-field-error-display [displayError]="isFieldValid(frmUser, 'last_name')" errorMsg="Last name is required."></app-field-error-display>
                            </mat-form-field>
                      </div>
                    </div>
                    <div class="row" *ngIf="!isEdit">
                      <div class="col-md-5 mr-auto">
                        <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(frmUser, 'password')">
                          <input type="password" matInput placeholder="Password" formControlName="password" required />
                          <app-field-error-display  [displayError]="isFieldValid(frmUser, 'password')" errorMsg="Password is required."></app-field-error-display>
                        </mat-form-field>
                      </div>
                      <div class="col-md-5 mr-auto">
                        <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(frmUser, 'confirm_password')">
                          <input type="password" matInput formControlName="confirm_password" placeholder="Confirm Password" required />
                          <app-field-error-display  [displayError]="isFieldValid(frmUser, 'confirm_password')" errorMsg="Confirm Password is required."></app-field-error-display>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5 mr-auto">
                        <mat-form-field class="example-full-width">
                          <mat-select placeholder="Affiliated to Site" formControlName="site_id"  >
                            <mat-option *ngFor="let site of sites" [value]="site._id" >
                              {{site.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-5 mr-auto">
                          <mat-form-field class="example-full-width">
                            <mat-select placeholder="Role" formControlName="role_id" >
                              <mat-option *ngFor="let role of roles" [value]="role.id" >
                                {{role.name | titlecase}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    </div>


                  </div>
                  <div class="card-footer text-right">
                    <a [routerLink]="['/admin/users']" class="btn btn-default">Back</a>
                    <button mat-raised-button class="btn btn-rose "  (click)="onSave()" >Save</button>
                  </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
