<div class="main-content">
  <div class="container-fluid">
    <br />
    <app-alert></app-alert>
    <div class="row">
      <div>
        <mat-chip-list>
          <mat-chip color="primary" [routerLink]="['/site/dashboard']"
            ><mat-icon>dashboard</mat-icon> Dashboard</mat-chip
          >
          <mat-chip color="primary" [routerLink]="['/site/patients']"
            ><mat-icon>group</mat-icon> Patients</mat-chip
          >
          <mat-chip color="primary" routerLink="/site/patient/{{ patID }}"
            ><mat-icon>assignment_ind</mat-icon>
            {{ getRefNumber(patient?.pat_id, patient?.prefix) }}
          </mat-chip>
          <mat-chip color="primary" routerLink="/site/visits/{{ patID }}"
            ><mat-icon>pets</mat-icon> Visits
          </mat-chip>
          <mat-chip color="primary" selected
            ><mat-icon>pets</mat-icon> {{ pageTitle }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <br />
    <div class="row">

        <form #fmed="ngForm">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th><th>Drug Name</th><th>Indication</th><th>Eye</th><th>Route</th>
                  <th>Daily dose</th><th>Start Date</th><th>End Date/ Ongoing</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let med of medicationHistory; let i = index;">
                  <td> {{i+1}}
                      <button mat-icon-button color="warn" matTooltip="Remove the row" (click)="removeMedRow(i)">
                          <mat-icon>remove</mat-icon>
                        </button>
                  </td>
                  <td>{{med.drugName}}</td>
                  <td>{{med.indication}}</td>
                  <td>{{med.eye}}</td>
                  <td>{{med.route}}</td>
                  <td>{{med.dose}}</td>
                  <td>{{med.startDate | date}}</td>
                  <td>{{med.isongoing? 'Ongoing' :  med.enddate | date}}</td>
                </tr>
                <button mat-icon-button color="primary" *ngIf="!addMedHistory" matTooltip="Add new row" (click)="addMedHistory = !addMedHistory;" ><mat-icon>add</mat-icon></button>
                <tr *ngIf="addMedHistory">
                    <td>
                        <button mat-icon-button color="warn" matTooltip="Remove the row" (click)="addMedHistory = !addMedHistory;">
                          <mat-icon>visibility_off</mat-icon>
                          </button>
                      </td>
                      <td>
                          <mat-form-field>
                              <input matInput type="text" name="drugName" ngModel placeholder="Drug Name" />
                            </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field>
                              <input matInput type="text" name="indication" ngModel placeholder="Indication" />
                            </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field>
                              <mat-label>Eye</mat-label>
                              <mat-select name="eye" ngModel>
                                <mat-option>--</mat-option>
                                <mat-option value="O.D.">O.D.</mat-option>
                                <mat-option value="O.S.">O.S.</mat-option>
                                <mat-option value="O.U.">O.U.</mat-option>
                                <mat-option value="NA">N.A.</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field>
                              <mat-label>Route</mat-label>
                              <mat-select name="route" ngModel>
                                <mat-option>--</mat-option>
                                <mat-option value="p.o">p.o</mat-option>
                                <mat-option value="I.M.">I.M.</mat-option>
                                <mat-option value="Subq.">Subq.</mat-option>
                                <mat-option value="Rectally">Rectally</mat-option>
                                <mat-option value="I.V.">I.V.</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field>
                              <mat-label>Daily Dose</mat-label>
                              <mat-select name="dose" ngModel>
                                <mat-option>--</mat-option>
                                <mat-option value="q.d.">q.d.</mat-option>
                                <mat-option value="b.i.d.">b.i.d.</mat-option>
                                <mat-option value="t.i.d.">t.i.d.</mat-option>
                                <mat-option value="q.i.d.">q.i.d.</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field>
                              <input matInput  [matDatepicker]="picker3" name="startDate" ngModel  placeholder="Start Date" [max]="getToday()"
                              (click)="picker3.open()" >
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                            <!-- <app-field-error-display [displayError]="isFieldValid(frmMedHistory, 'VISDAT')" errorMsg="Reported date is required"></app-field-error-display> -->
                          </mat-form-field>
                      </td>
                      <td>
                          <label id="isongoing-label">is Ongoing? </label> <br>
                          <mat-radio-group aria-labelledby="isongoing-label"
                             name="isongoing" ngModel
                            (change)="ongoingChange3($event.value)">
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="0">No</mat-radio-button>
                          </mat-radio-group>
                          <mat-form-field  *ngIf="showEndDate3">
                              <input matInput  [matDatepicker]="pickerEnd3" name="enddate" ngModel placeholder="End date" [max]="getToday()"
                                (click)="pickerEnd3.open()"  >
                              <mat-datepicker-toggle matSuffix [for]="pickerEnd3"></mat-datepicker-toggle>
                              <mat-datepicker #pickerEnd3></mat-datepicker>
                              <!-- <app-field-error-display [displayError]="isFieldValid(frmAEForm, 'AEENDAT')" errorMsg="End date is required"></app-field-error-display> -->
                            </mat-form-field>
                            <button (click)="saveMedRow(fmed)">Save row</button>
                      </td>
                </tr>
              </tbody>
            </table>
          </form>
    </div>
    <mat-divider></mat-divider>
    <button mat-raised-button color="primary" routerLink="/site/visits/{{patID}}">Back</button>
  </div>
</div>
