<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">
            2018.1.0.QRS
          </a>
        </li>
        <li>
          <a href="#">
            Privacy &amp; Confidentiality
          </a>
        </li>
        <li>
          <a href="#">
            Terms of Use
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{curYear | date:"yyyy"}}, Developed by
      <a href="http://www.qascentresearch.com" >QRS</a>
    </div>
  </div>
</footer>

